<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   
    <p><%=images.text%></p>
    <img src="../uploads/<%=images.imageFilename%>" alt="images">
    <img src="img/Arefat-Abubeker-kadir-Ganeral-manager.jpg" alt="">
    <img src="../uploads/imageIMG_20210721_133207.jpg" alt="">

</body>
</html>